input[type="text"],
input[type="password"]{
  font-size: 18px;
  line-height: 24px;
  padding: 6px 15px;
  height: 36px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  display: block;
  outline: none;
  box-sizing: border-box;
  &::placeholder{
    color: #999;
  }
  &:focus{
    border-color: $primary-color;
    box-shadow: 0 0 3px $primary-color;
  } 
}

button{
  &.back{
    width: 48px;
    height: 48px;
    display: inline-block;
    font-size: 0;
    background: url('../images/sprite.svg') no-repeat 0px -64px;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}
.btn{
  padding: 15px 46px;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #1F3D8E40 100%) 0% 0% no-repeat padding-box;
  border: 1px solid #1F3D8E;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s;
  &:hover,&:focus,&:active{
    text-decoration: none;
    color: #1F3D8E;
    box-shadow: 0 3px 6px #1F3D8E60, inset 0px 0px 2px 0px #fff;
  }
  &.btn-primary{
    background: transparent linear-gradient(180deg, #1F3D8E 0%, #101F47 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    &:hover,&:focus,&:active{
      border-color: #1F3D8E;
    }
  }
  &.btn-secondary{
    background: transparent linear-gradient(180deg, #FF8F57 0%, #80482C 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #1F3D8E19;  
    color: #fff;
    border-color: #FF8F57;
    &:hover,&:focus,&:active{
      border-color: #80482C;
    }
  }
  & + .btn{
    margin-left: 20px;
  }
}
.btns{
  padding: 20px 0;
}
.btnEqual{
  width: 100%;
  text-align: center;
  .btn{
    width: 47%;
    max-width: 255px;
    padding-left: 0;
    padding-right: 0;
  }
}
.otpFields{
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
  input{
    width: 40px;
    margin-right: 20px;
  }
}
.alert{
  background: #b4b4b4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  [class^='icn-']{
    margin-right: 10px;
  }
  .close{
    margin-left: auto;
    &::after,
    &::before{
      background-color: #fff;
    }
  }
  &.alertTop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  &.alert-info{
    background-color: #41C4B6;
  }
  &.alert-danger{
    background-color: #af0707;
  }
}