@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$primary-color: #3498db;
$green-color:#7DCE82;
$orange-color:#FFA043;
$link-color:#1F3D8E;
$text-color:#333;
$text-light:#777777;
$text-size:16px;

@import 'sprite.scss'; 
@import 'form.scss'; 
@import 'common.scss'; 
@import 'media.scss'; 